<!-- Ascolto l'evento (onNewUser), che chiamerà la funzione 'newUser' dell'app.component.ts (che fa la creazione dell'utente) -->
<app-nav (onNewUser)="newUser()"></app-nav>
<div class="container">
  <h1>User management system</h1>
  <!-- Lo togliamo per andarlo a mettere sulla barra di navigazione -->
  <!-- <a href="#" (click)="newUser()">New User</a> -->

  <div class="row">
    <div class="col-md-7">
      <app-users (updateUser)="updateUser($event)"></app-users>
    </div>
    <div class="col-sm-5" *ngIf="showForm">
      <app-user-detail [user]="userSelected"></app-user-detail>
    </div>
  </div>
</div>
