<h1>User managemenbt system</h1>
<div class="main">
  <div class="users">
      <!-- Con (updateUser) dico che voglio ascoltare questo evento;
    Con il metodo 'updateUser' dico cosa voglio fare quando succederà (verrà emesso questo evento);
    $event è una variabile che ci fornisce Angular per prenderci i dati che ci passa il componente filgio (serve appunto a catturare quello che abbiamo passato) -->
    <app-users (updateUser)="updateUser($event)"></app-users>
  </div>

  <!-- *ngIf="false" => vuol dire che se il dettaglio è false non si vedrà, verrà rimosso dal DOM (viceversa se è true) -->
  <!-- <div class="userDetail" *ngIf="true">...</div> -->

  <!-- *ngIf="userSelected" => in questo caso mostro l'utente solo se è stato selezionato -->
  <!-- Bisogna dichiarare la variabile 'userSelected' (l'utente selezionato) in app.component.ts,
    che verrà passata sulla variabile '$event' e in automatico verrà mostrato, appunto questo template -->
  <div class="userDetail" *ngIf="userSelected">
    <!-- Possiamo ricevere la variabile user come input:
      Passo lo userSelected, che è quello che ci passa il componente users nell'evento,
      andiamo a dire che la variabile user, che deve essere in ingresso (indicata dalle parentesi quadre [user]) è uguale a userSelected.
      Così stiamo iniettando il valore di userSelected a user.
      E' possibile far vedere questo componente, andando in user-detail.html e mostrare la variabile user, passandola a json => {{user | json}}
    -->
    <app-user-detail [user]="userSelected"></app-user-detail>
  </div>
</div>
