<!-- Passando questo valore avremo i dati dell'elemento a schermo:
  { "name": "Daniele1", "lastname": "Segreto1", "email": "daniele@gmail.com", "fiscalcode": "SGTDAN77J33X777Z", "province": "Palermo", "phone": "3334455678", "age": 33 }.
  Bisogna fare in modo da popolare questo form con questi valori (come fare il binding)

  Tramite ngModel riusciamo a fare il binding tra i parametri del form e queste proprietà dell'oggetto user.
-->
<!-- {{user | json}} -->
<form class="userForm">
  <!-- Possiamo passare user.id in un campo nascosto perchè ci può servire per inviare i dati, però quando in realtà andiamo ad aggiornare l'utente con il tasto save, noi possiamo avere questo id.
  Per esempio se sul file ts, al metodo 'saveUser' mettiamo l'alert dell'id, noi avremo accesso a quell'id:
  saveUser() {
    alert(this.user.id) // => .id
  } -->
  <input type="hidden" name="id" [(ngModel)]="user.id">
  <div class="form-group">
    <label for="firtstname">First name</label>
    <!-- [] = variabile in input; () => variabile in output
    Se uso entrambe le parentesi in [(ngModel)] => modifico sia in valore in input (sul form), che il valore originale;
    Se uso solo le parentesi quadre [ngModel] => modifico solo in valore in input (sul form). -->
    <!-- <input [ngModel]="user.name" name="firtstname" id="firtstname"> -->
    <input [(ngModel)]="user.name" name="firtstname" id="firtstname">
  </div>
  <div class="form-group">
    <label for="lastname">Last name</label>
    <input [(ngModel)]="user.lastname" name="lastname" id="lastname">
  </div>
  <div class="form-group">
    <label for="fiscalcode">Fiscal code</label>
    <input [(ngModel)]="user.fiscalcode" name="fiscalcode" id="fiscalcode">
  </div>
  <div class="form-group">
    <label for="phone">Phone</label>
    <input [(ngModel)]="user.phone" name="phone" id="phone">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input [(ngModel)]="user.email" type="email" name="email" id="email">
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input [(ngModel)]="user.age" type="number" name="age" id="age">
  </div>
  <div class="form-group">
    <label for="province">Province</label>
    <input [(ngModel)]="user.province" type="text" name="province" id="phone">
  </div>
  <div class="form-group form-footer">
    <!-- Non abbiamo bisogno di usare il componente perchè lo abbiamo già in @Input in user.detail.component.ts.
    Siccome lo stiamo passando per riferimento, quindi con [(ngModel)], lo stiamo passando sia in uscita che in ingresso, allora avremo accesso a questo dato -->
    <button class="btn-save" (click)="saveUser()">SAVE</button>
  </div>
</form>
