<!-- La proprietà #f fa riferimento al form intero -->
<form #f="ngForm">
  <input type="hidden" name="id" [(ngModel)]="user.id">

  <div class="row mt-4">
    <div class="form-group col-sm-6">
      <label for="firtstname">First name</label>
      <!-- Questo input è obbligatorio e viene associato al modello "firstName" -->
      <!-- La lunghezza minima del campo è impostata a 3 caratteri -->
      <!-- Il valore del campo viene associato alla proprietà "name" dell'oggetto "user" tramite [(ngModel)] -->
      <input required #firstName="ngModel" minlength="3" class="form-control" [(ngModel)]="user.name" name="firtstname" id="firtstname">
        <!-- Questo div viene visualizzato solo se il campo "firstName" è stato modificato, toccato e ha degli errori -->
      <div *ngIf="firstName.dirty && firstName.touched && firstName.errors">
        <!-- Questo div viene visualizzato solo se il campo "firstName" è obbligatorio (cioè se il campo è vuoto) -->
        <div class="alert alert-danger" *ngIf="firstName.errors?.['required']">
          Il campo nome richiede un valore
        </div>
        <!-- Questo div viene visualizzato solo se il campo "firstName" ha una lunghezza inferiore alla minima -->
        <div class="alert alert-danger" *ngIf="firstName.errors?.['minlength']">
          La lunghezza minima del campo nome è {{firstName?.errors?.['minlength'].requiredLength}} caratteri
        </div>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="lastname">Last name</label>
      <input class="form-control" [(ngModel)]="user.lastname" name="lastname" id="lastname">
    </div>
  </div>

  <div class="row mt-4">
    <div class="form-group col-sm-6">
      <label for="fiscalcode">Fiscal code</label>
      <input class="form-control" [(ngModel)]="user.fiscalcode" name="fiscalcode" id="fiscalcode">
    </div>
    <div class="form-group col-sm-6">
      <label for="phone">Phone</label>
      <input class="form-control" [(ngModel)]="user.phone" name="phone" id="phone">
    </div>
  </div>

  <div class="row mt-4">
    <div class="form-group col-sm-6">
      <label for="email">Email</label>
      <input class="form-control" [(ngModel)]="user.email" type="email" name="email" id="email">
    </div>
    <div class="form-group col-sm-6">
      <label for="age">Age</label>
      <input class="form-control" [(ngModel)]="user.age" type="number" name="age" id="age">
    </div>
  </div>

  <div class="row flex justify-content-center mt-4">
    <div class="form-group col-sm-6">
      <label for="province">Province</label>
      <input class="form-control" [(ngModel)]="user.province" type="text" name="province" id="phone">
    </div>
  </div>

  <div class="form-group form-footer row mt-3">
    <!-- TASTO PER TORNARE INDIETRO -->
    <div class="col-md-4">
      <a class="btn btn-lg btn-primary w-100" [routerLink]="['/users']">BACK TO USERS</a>
    </div>
    <!-- TASTO RESET -->
    <div class="col-md-4">
      <a class="btn btn-lg btn-outline-secondary w-100" (click)="resetForm(f.form)">RESET</a>
    </div>
    <!-- TASTO PER SALVARE UN NUOVO UTENTE -->
    <div class="col-md-4">
      <!-- Con [disabled]="f.invalid" stiamo a dire che se il form non è valido, questo pulsante verrà abilitato -->
      <button [disabled]="f.invalid" class="btn btn-lg btn-success w-100" (click)="saveUser()">SAVE</button>
    </div>
  </div>
</form>
