<td>{{user?.name}}</td>
<td>{{user?.lastname}}</td>
<td>{{user?.fiscalcode}}</td>
<td>{{user?.email}}</td>
<td>{{user?.phone}}</td>
<td>{{user?.province}}</td>
<td>{{user?.age}}</td>
<td>
  <div class="row">
    <!-- DETTAGLIO -->
    <div class="col-sm">
      <!-- // *Avremmo anche potuto usare un (click) con la funzione 'showUserdetail' sul ts, piuttosto che [routerLink]
        <a class="btn btn-primary btn-sm w-50" (click)="showUserDetail()"></a> -->
      <a class="btn btn-primary btn-sm w-50" [routerLink]="['/users', user?.id]">
        <fa-icon [icon]="faInfo" [size]="iconSize"></fa-icon>
      </a>
    </div>
    <!-- MODIFICA -->
    <div class="col-sm">
      <a class="btn btn-primary btn-sm w-50" [routerLink]="['/users', user?.id, 'edit']">
        <fa-icon [icon]="faPen" [size]="iconSize"></fa-icon>
      </a>
    </div>
    <!-- ELIMINA -->
    <div class="col-sm">
      <button class="btn btn-danger btn-sm w-50" (click)="deleteUser()">
        <fa-icon [icon]="faTrash" [size]="iconSize"></fa-icon>
      </button>
    </div>
  </div>
</td>

<!-- Ho inserito la classe 'w-50' per dare a tutti i pulsanti la stessa dimensione -->
<!-- CORREZIONE ERRORE: Avevo messo il [routerLink] sulla 'fav-icon', invece che sul tag 'a' -->
