<td>{{user?.name}}</td>
<td>{{user?.lastname}}</td>
<td>{{user?.fiscalcode}}</td>
<td>{{user?.email}}</td>
<td>{{user?.phone}}</td>
<td>{{user?.province}}</td>
<td>{{user?.age}}</td>
<td>
  <div class="row">
    <div class="col-sm-6">
      <!-- MODIFICA -->
      <button class="btn btn-primary btn-sm" (click)="updateUser()">
        <fa-icon [icon]="faPen" [size]="iconSize"></fa-icon>
      </button>
    </div>
    <!-- ELIMINA -->
    <div class="col-sm-6">
      <button class="btn btn-danger btn-sm" (click)="deleteUser()">
        <fa-icon [icon]="faTrash" [size]="iconSize"></fa-icon>
      </button>
    </div>
    <!-- Con la proprietà size="4x" posso gestire le dimensioni delle icone -->
  </div>
</td>
