<!-- Per verificare inserisco la variabile user con la pipe json,
  in modo tale da poter vedere la rappresentazione di quell'oggetto come una stringa json -->
<p>{{user | json}}</p>

<!-- Questo oggetto rappresenta la rotta che è stata attivata, ad esempio se cerco 'http://localhost:4200/users/1', vedrò a schermo l'oggetto:
  { "id": 1, "name": "Daniele1", "lastname": "Segreto1", "email": "daniele@gmail.com", "fiscalcode": "SGTDAN77J33X777Z", "province": "Palermo", "phone": "3334455678", "age": 33 } -->
